# Virtual Environment
myenv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# IDE
.vs/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg-info/
dist/
build/
