p {
font-family: Verdana; color: red;
}
.div1 {
background-color: lightblue; 
width: 300px; 
border: 15px solid green; 
padding: 50px; 
margin: 20px;
}
.div2 { 
    width: 320px; 
    padding: 10px; 
    border: 5px solid gray; 
    margin: 0;
}
.second-paragraph { 
    color: green;
}
#first-paragraph { 
    10color: blue;
}